<p id="notice"><%= notice %></p>

<% if params[:type] == "handsets" %>
  <h1>Handsets</h1>
<% elsif params[:type] == "pre_pay"%>
  <h1>Pre Pays</h1>
<% elsif params[:type] == "subs"%>
  <h1>Subscriptions</h1>
<% else %>
  <h1>All products</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Type</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.brand %></td>
        <td><%= product.model %></td>
        <% if product.variant == "handsets" %>
          <td>Handset</td>
        <% elsif product.variant == "pre_pay"%>
          <td>Pre Pay</td>
        <% elsif product.variant == "subs"%>
          <td>Subscription</td>
        <% end %>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
